{% extends "layout.html" %}

{% block body %}

    <h1>Frequence domain</h1>

    <div>
        <a href="{{ url_for('nmr.freq_download', filename=filename) }}">download</a>
    </div>

    <img src="data:image/svg+xml;base64,{{ figure }}" alt="Plot" class="plot">

    <h2>Window size</h2>
    <form action="{{ url_for('nmr.freq_axis', filename=filename) }}" method="post">
        <button type="submit">OK</button>
        <div>
            <label>X-Min: <input type="number" name="xmin" value="{{ settings['freq_axis']['xmin'] }}" step="any"></label>
            <label>X-Max: <input type="number" name="xmax" value="{{ settings['freq_axis']['xmax'] }}" step="any"></label>
        </div>
        <div>
            <label>Y-Min: <input type="number" name="ymin" value="{{ settings['freq_axis']['ymin'] }}" step="any"></label>
            <label>Y-Max: <input type="number" name="ymax" value="{{ settings['freq_axis']['ymax'] }}" step="any"></label>
        </div>
    </form>

    <h2>Phase correction</h2>
    <form action="{{ url_for('nmr.freq_phase', filename=filename) }}" method="post">
        <button type="submit">OK</button>
        <div>
            <label>P0: <input type="number" name="p0" min="-180" max="180" value="{{ settings['freq_phase']['p0'] }}" step="any"></label>
            <label>P1: <input type="number" name="p1" min="-180" max="180" value="{{ settings['freq_phase']['p1'] }}" step="any"></label>
        </div>
    </form>

    <h2>Peaks</h2>
    <form action="{{ url_for('nmr.freq_peaks', filename=filename) }}" method="post">
        <button type="submit">OK</button>
        <div>
            <label>Show peaks: <input type="checkbox" name="show_peaks" {% if show_peaks %}checked{% endif %}></label>
        </div>
        <div>
            <label>Threshold: <input type="number" name="threshold" value="{{ threshold }}" step="any"></label>
            <label>Show: <input type="checkbox" name="show_threshold" {% if show_threshold %}checked{% endif %}></label>
        </div>
    </form>

    <h2>Integration</h2>
    <form action="{{ url_for('nmr.freq_integrals', filename=filename) }}" method="post">
        <input type="hidden" name="filename" value="{{ filename }}">
        <div>
            <label>I0: <input type="number" name="i0" step="any"></label>
            <label>I1: <input type="number" name="i1" step="any"></label>
            <label>Show: <input type="checkbox" name="show_integrals" {% if show_integrals %}checked{% endif %}></label>
        </div>
        <button type="submit">Process</button>
    </form>

    <h2>Peak's list</h2>

    <table>
        <tr>
            <td>nr</td>
            <td>ppm</td>
            <td>delete</td>
            <td>zoom</td>
        </tr>
        {% for peak in settings["freq_peaks"] %}
            <tr>
                <td>{{ peak["id"] }}</td>
                <td>{{ peak["ppm"] }}</td>
                <td>
                    <form action="{{ url_for('nmr.freq_peak_delete', filename=filename) }}" method="post">
                        <input type="hidden" name="peak_id" value="{{ peak['id'] }}">
                        <button type="submit">rm</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('nmr.freq_peak_zoom', filename=filename) }}" method="post">
                        <input type="hidden" name="peak_id" value="{{ peak['id'] }}">
                        <button type="submit">zm</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}