{% extends "layout.html" %}


{% block title %}NMR{% endblock %}

{% block body %}

    <h1>NMR</h1>
    <h2>Upload Bruker File</h2>
    <form action="{{ url_for('nmr.uploads') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>

    <h2>Your File's</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Plot</td>
            <td>Delete</td>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item }}</td>
                <td>
                    <a href="{{ url_for('nmr.time', filename=item) }}">plt</a>
                </td>
                <td>
                    <a href="{{ url_for('nmr.delete', filename=item) }}">rm</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}