{% extends "layout.html" %}


{% block title %}NMR — PlotPie{% endblock %}

{% block body %}

    <div class="row">

        <!-- Browser (uploads) -->
        <div class="col-12 col-lg-2">

            <!-- Upload -->
            <form action="{{ url_for('nmr.uploads') }}" class="p-1" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="file">Upload dataset</label>
                    <input class="form-control" id="file" name="file" type="file">
                </div>
                <button class="btn btn-primary" type="submit"><i class="bi bi-file-earmark-arrow-up-fill"></i> Upload</button>
            </form>

            <!-- Delete -->
            <form action="{{ url_for('nmr.delete', filename=filename) }}" class="p-1" method="post">
                <button class="btn btn-primary"><i class="bi bi-file-earmark-x-fill"></i> Delete</button>
            </form>

            <!-- Download -->
            <form action="{{ url_for('nmr.freq_download', filename=filename) }}" class="p-1" method="get">
                <button class="btn btn-primary"><i class="bi bi-file-earmark-arrow-down-fill"></i> Download</button>
            </form>

            <!-- List of the data -->
            <div class="list-group mt-4 p-1">
                {% for item in items %}
                    <a class="list-group-item list-group-item-action" href="{{ url_for('nmr.freq', filename=item) }}">{{ item }}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Main (Plot) -->
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <figure class="border d-flex figure rounded">
                        <img alt="Frequence domain NMR" class="figure-img img-fluid rounded" width="100%" height="auto" src="data:image/svg+xml;base64,{{ figure }}">
                    </figure>
                </div>
            </div>
        </div>

        <!-- Settings -->
        <div class="col-12 col-lg-2">

            <!-- Navigation with buttons -->
            <form action="{{ url_for('nmr.navigate', filename=filename) }}" class="border p-2 rounded row" method="post">
                <div class="col-6 p-1">
                    <label class="form-label">zoom</label>
                    <input class="form-control form-control-sm" name="zoom_index" step="any" type="number" value="{{ settings['freq_navigation']['zoom_index'] }}">
                </div>
                <div class="col-6 p-1">
                    <label class="form-label">move</label>
                    <input class="form-control form-control-sm" name="move_index" step="any" type="number" value="{{ settings['freq_navigation']['move_index'] }}">
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="x_out"><i class="bi bi-arrows-collapse-vertical"></i></button>
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="up"><i class="bi bi-arrow-up"></i></button>
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="x_in"><i class="bi bi-arrows-expand-vertical"></i></button>
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="left"><i class="bi bi-arrow-left"></i></button>
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="center"><i class="bi bi-arrows-fullscreen"></i></button>
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="right"><i class="bi bi-arrow-right"></i></button>
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="y_out"><i class="bi bi-arrows-collapse"></i></button>
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="down"><i class="bi bi-arrow-down"></i></button>
                </div>
                <div class="col-4 p-1">
                    <button class="btn btn-primary btn-sm w-100" name="navigate" type="submit" value="y_in"><i class="bi bi-arrows-expand"></i></button>
                </div>
            </form>
            
            <!-- Axis control -->
            <form action="{{ url_for('nmr.freq_axis', filename=filename) }}" class="border mt-3 p-2 rounded row" method="post">
                <label class="col-12 form-label">Axis adjustment</label>
                <div class="col-6">
                    <label class="form-label">x-min</label>
                    <input class="form-control form-control-sm" name="xmin" step="any" type="number" value="{{ settings['freq_axis']['xmin'] }}">
                </div>
                <div class="col-6">
                    <label class="form-label">x-max</label>
                    <input class="form-control form-control-sm" name="xmax" step="any" type="number" value="{{ settings['freq_axis']['xmax'] }}">
                </div>
                <div class="col-6">
                    <label class="form-label">y-min</label>
                    <input class="form-control form-control-sm" name="ymin" step="any" type="number" value="{{ settings['freq_axis']['ymin'] }}">
                </div>
                <div class="col-6">
                    <label class="form-label">y-max</label>
                    <input class="form-control form-control-sm" name="ymax" step="any" type="number" value="{{ settings['freq_axis']['ymax'] }}">
                </div>
                <input type="submit" hidden>
            </form>

            <!-- Form for phasekorektion -->
             <form action="{{ url_for('nmr.freq_phase', filename=filename) }}" class="border mt-3 p-2 rounded row" method="post">
                <label class="col-12 form-label">Phasekorektion</label>
                <div class="col-6">
                    <label class="form-label" for="p0">p0</label>
                    <input class="form-control form-control-sm" id="p0" name="p0" step="any" type="number" value="{{ settings['freq_phase']['p0'] }}">
                </div>
                <div class="col-6">
                    <label class="form-label" for="p1">p1</label>
                    <input class="form-control form-control-sm" id="p1" name="p1" step="any" type="number" value="{{ settings['freq_phase']['p1'] }}">
                </div>
                <input type="submit" hidden>
             </form>

            <!-- Form for Integrals -->
            <form action="{{ url_for('nmr.freq_integrals', filename=filename) }}" class="border mt-3 p-2 rounded row" method="post">
                <label class="col-12 form-label">Integrals</label>
                <div class="col-6">
                    <label class="form-label" for="start">start</label>
                    <input class="form-control form-control-sm" id="start" name="start" step="any" type="number">
                </div>
                <div class="col-6">
                    <label class="form-label" for="end">end</label>
                    <input class="form-control form-control-sm" id="end" name="end" step="any" type="number">
                </div>
                <input type="submit" hidden>
            </form>

            <!-- Form for auto peak peaking -->
            <div class="border mt-3 p-2 rounded row">
                <label class="col-12 form-label" for="threshold">Threshold</label>
                <form action="{{ url_for('nmr.freq_peaks', filename=filename) }}" class="col-6" method="post">
                    <input class="form-control form-control-sm" id="threshold" name="threshold" step="any" type="number" value="{{ settings['freq_threshold']['value'] }}">
                    <input type="submit" hidden>
                </form>
                {% if settings['freq_threshold']['bool'] %}
                    <form action="{{ url_for('nmr.freq_threshold', filename=filename) }}" class="col-6" method="post">
                        <button class="btn btn-primary btn-sm" type="submit"><i class="bi bi-eye-slash-fill"></i> Hide</button>
                    </form>
                {% else %}
                    <form action="{{ url_for('nmr.freq_threshold', filename=filename) }}" class="col-6" method="post">
                        <button class="btn btn-primary btn-sm"><i class="bi bi-eye-fill"></i> Show</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <!-- Form for the peak and integral list -->
        <div class="col-12 col-lg-2 ps-4">

            <!-- Peaklist -->
            <form action="{{ url_for('nmr.freq_peaks_action', filename=filename) }}" class="border p-2 rounded row" method="post">
                <div class="col-4 p-2">
                    <button class="btn btn-primary btn-sm w-100" name="action" value="reset" type="submit"><i class="bi bi-arrow-repeat"></i></button>
                </div>
                <div class="col-4 p-2">
                    <button class="btn btn-primary btn-sm w-100" name="action" value="remove" type="submit"><i class="bi bi-trash-fill"></i></button>
                </div>
                <div class="col-4 p-2">
                    <button class="btn btn-primary btn-sm w-100" name="action" value="zoom" type="submit"><i class="bi bi-zoom-in"></i></button>
                </div>
                <div class="col-12" style="height: 35vh; overflow-y: auto; overflow-x: hidden;">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th style="position: sticky;"></th>
                                <th style="position: sticky;">#</th>
                                <th style="position: sticky;">ppm</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for peak in settings["freq_peaks"] %}
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" name="peaks" value="{{ peak['id'] }}"></td>
                                    <td>{{ peak["id"] }}</td>
                                    <td>{{ peak["ppm"]|round(2) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!--
                    <select class="border border-0 col-12 form-select p-2 rounded" multiple name="peaks" id="peaks" style="height: 40vh;">
                        {% for peak in settings["freq_peaks"] %}
                            <option value="{{ peak['id'] }}">{{ peak["ppm"]|round(2) }}</option>
                        {% endfor %}
                    </select>
                    -->
                </div>
            </form>

            <!-- Integrallist -->
            <form action="{{ url_for('nmr.freq_integrals_action', filename=filename) }}" class="border p-2 mt-3 rounded row" method="post">
                <div class="col-4 p-2">
                    <button class="btn btn-primary btn-sm w-100" name="action" value="reset" type="submit"><i class="bi bi-arrow-repeat"></i></button>
                </div>
                <div class="col-4 p-2">
                    <button class="btn btn-primary btn-sm w-100" name="action" value="remove" type="submit"><i class="bi bi-trash-fill"></i></button>
                </div>
                <div class="col-4 p-2">
                    <button class="btn btn-primary btn-sm w-100" name="action" value="zoom" type="submit"><i class="bi bi-zoom-in"></i></button>
                </div>
                <div class="col-12" style="height: 35vh; overflow-y: auto; overflow-x: hidden;">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="position: sticky;">#</th>
                                <th style="position: sticky;">start</th>
                                <th style="position: sticky;">end</th>
                                <th style="position: sticky;">area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for integral in settings["freq_integrals"] %}
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" name="integrals" value="{{ integral['id'] }}"></td>
                                    <td>{{ integral["id"] }}</td>
                                    <td>{{ integral["start"] }}</td>
                                    <td>{{ integral["end"] }}</td>
                                    <td>{{ integral["area"]|round(2) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>

            <!--
                <select class="border col-12 form-select mt-3 p-2 rounded" multiple name="integral" id="integral" style="height: 40vh;">
                    {% for integral in settings["freq_integrals"] %}
                    <option value=integral["id"]>{{ integral["area"]|round(2) }}</option>
                    {% endfor %}
                </select>
            -->
        </div>
    </div>

{% endblock %}