{% extends "layout.html" %}

{% block body %}

    <h1>Time domain</h1>

    <div>
        <a href="{{ url_for('nmr.freq', filename=filename) }}">freq</a>
        <a href="{{ url_for('nmr.time_download', filename=filename) }}">download</a>
    </div>
    
    <img src="data:image/svg+xml;base64,{{ figure }}" alt="Time-Domain NMR" class="plot">

    <form method="post">
        <p>Window size</p>
        <div>
            <label>X-Min: <input type="number" name="xmin" value="{{ xmin }}" step="any"></label>
            <label>X-Max: <input type="number" name="xmax" value="{{ xmax }}" step="any"></label>
        </div>
        <div>
            <label>Y-Min: <input type="number" name="ymin" value="{{ ymin }}" step="any"></label>
            <label>Y-Max: <input type="number" name="ymax" value="{{ ymax }}" step="any"></label>
        </div>
        <button formaction="{{ url_for('nmr.time_axis', filename=filename) }}" type="submit">Process</button>
    </form>

{% endblock %}